*{
    box-sizing: border-box;  
}

body{
    margin: 0;
    padding: 0;
}

#books-container{
    margin: 5rem auto;
}

header{
    position:fixed;
    height: 3rem;
    top: 0;
    right: 0;
    z-index: 999;
}